	    <li class="clearfix r-tutorial " data-id="1821">
 
 <div class="details clearfix">
    <h2>
      <img alt="D3.js Basic Tutorials" class="favicon" height="16" src="http://1821.getfavicon.appspot.com/http%3A%2F%2Fwww.janwillemtulp.com%2Fcategory%2Fd3?defaulticon=lightpng" width="16" />
      <a href="http://www.janwillemtulp.com/category/d3" rel="nofollow" target="_blank">D3.js Basic Tutorials</a> / free
    </h2>
    <p class="exc">A set of introduction tutorials for D3js, including conway&#x27;s game of life.</p>
    <ul class="tags clearfix">
      <li><a href="/tags/d3-js">d3.js</a></li>
    </ul>
    <p class="manage">
      <a href="/resources/d3-js-basic-tutorials">0 comments</a>
       | <span class="f">1</span> favorite
      
    </p>
    <p class="time">about 6 hours ago, by <a href="/profiles/301">301</a></p>
  </div>
  <div class="thumb-small">                     
    <a href="http://www.janwillemtulp.com/category/d3" rel="nofollow" target="_blank"><img alt="D3.js Basic Tutorials" class="thumb" height="120" src="http://beta.url2png.com/v6/P500DA18113E7E/28b8068d2a23f8d2bccca1a179c94867/png/?url=http%3A%2F%2Fwww.janwillemtulp.com%2Fcategory%2Fd3&amp;fullpage=false&amp;thumbnail_max_width=250&amp;viewport=1000x800" width="150" /></a>
		<div class='sprite ribbon'>popular tutorial</div>
  </div>
</li>
