<h1>Ruby On Rails tutorials, made easy, for the beginner coder.</h1>

<p>Refectory is a place for beginner coders to learn how to make complex software applications by following step-by-step tutorials. It is built in Ruby on Rails. </p>

<p>The advantage over traditional tutorials on the internet is that Refectory breaks down tutorials into manageable steps. These steps can be commented on if you encounter an error. These steps can also be re-used in other tutorials to help build more and more complex tutorials.</p>

<p>Refectory makers can comment on steps which give them problems. The answers to problems are generally right next to the step which means you don't need to go to the end of a tutorial to figure out how to solve problems you encounter. If you can't find the answer on our site Stack Overflow is another great resource.</p>

<p>Many coders that have learned how to build software on Refectory have come back to make their own tutorials, which has created a thriving educational community.</p>

<p>Good luck and happy coding! </p>
  
