<h1>Rails Bootstrap</h1>
<h3>Next steps:</h3>
<ol>
  <li>Write config/database.yml</li>
  <li>Write config/email.yml</li>
  <li>Write config/deploy.rb</li>
  <li>Start developing your app!</li>
</ol>

<h5><em>Good on ya, buddy. You rock!</em></h5>
  
