/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require full_control/index
 *= require jquery-ui-1.9.2.custom.min
 *= require jquery.tagit
 *= require prettify
 *= require bootstrap-wysihtml5
 *= require wysiwyg-color
*/

small { font-size: 85%; }
.clearfix { clear: both; }
.actions { clear: both; margin-top: .5em;}
.danger { color: #da4f49 }
.center { text-align: center; }
.spin { display: inline-block; position: relative; vertical-align: middle; }
.spin-tiny { width: 16px; height: 16px; padding: 0 4px 0 4px; }
.spin-small { width: 28px; height: 28px; padding: 0 8px 0 8px; }
.spin-large { width: 64px; height: 64px; padding: 0 16px 0 16px; }
footer { vertical-align: middle; margin-top: 1.5em; margin-bottom: 1.5em; line-height: 25px; }
footer .copy { display: inline-block; position: relative; top: -4px; }
